{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Wenbo-Ge</title>
<!-- for-mobile-apps -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Profile Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- //for-mobile-apps -->
<link href='http://fonts.googleapis.com/css?family=Poppins:400,600,500,700' rel='stylesheet' type='text/css'>
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<!-- //js -->
<!-- Using Jquery -->
    <script>
    jQuery(document).ready(function($) {
        $('#sidebar-btn').click(function() {
            $('#sidebar').toggleClass('visible');
        });
    });
    </script>
<!--circlechart-->
<script src="{% static 'js/jquery.circlechart.js' %}"></script>
<!--circlechart-->

</head>
<body>
<div class="content">
	<h1>Profile</h1>
		<div class="main">
		<div class="header">
		<div class="hd-img">
			<img src="{% static 'images/2.jpg' %}" alt=" " class="img-responsive" />
			</div>
			
			<h2>Wenbo Ge</h2>
			<p class="photo">Web Developer</p>
			<div class="skill-info">
				<ul>
					<a href="http://18.188.206.218/project-demo/"><li><i class="fas fa-mobile-alt"></i><span>Self-driven project NO.1</span></li></a>
					<a href="http://18.188.206.218/rating-website/"><li><i class="fas fa-desktop"></i><span>Self-driven project NO.2</span></li></a>
					
				</ul>
				<script>
					$('.demo-1').percentcircle({
						animate : true,
						fillColor: 'rgb(119, 161, 173)'
					});
						$('.demo-2').percentcircle({
						animate : true,
						fillColor: 'rgb(0, 197, 255)'
					});
						$('.demo-3').percentcircle({
						animate : true,
						fillColor: 'rgb(119, 221, 255)'
					});
				</script>
			</div>
		</div>
		<section class="slider">
			<div class="flexslider">
				<ul class="slides">
					<li>
						<div class="header-bottom_3">
							<div class="jan">
								<h3>OBJECTIVE</h3>
							</div>
							<div class="jan-bottom">
								<div class="jan-bottom-grid">
									
									<div class="jan-bottom-grid-left1">
										<p>Proficient in building MVC web application with responsive front-end template using HTML5/CSS3/JS (Bootstrap4, jQuery) and extensible back-end by PHP (Composer/Twig) and SQL (MySQL/MSSQL) database</p>
									</div>
									
									<div class="clear"></div>
								</div>
								<div class="jan-bottom-grid">
									
									<div class="jan-bottom-grid-left1">
										<p>Develop industry-level web application with popular CMS framework - WordPress, project experience on building single page application with Restful API and Angular using 3rd party APIs</p>
									</div>
							
									<div class="clear"></div>
								</div>
								<div class="jan-bottom-grid">
									
									<div class="jan-bottom-grid-left1">
										<p>Extensive experience in working with Developing environment (MAMP/Vagrant box) and AWS, version control tools (Git command, SourceTree), web testing tools (Postman, Google Dev Tool)</p>
									</div>
									
									<div class="clear"></div>
								</div>
								
							</div>
						</div>
					</li>
					<li>
						<div class="header-bottom_3">
							<div class="jan">
								<h3>WORK EXPERIENCE</h3>
							</div>
							<div class="jan-bottom">
								<div class="jan-bottom-grid">
									
									<div class="jan-bottom-grid-left1">
										<p>Analyzed & conducted requirements for new business modules and transformed them into technical models</p>
									</div>
									
									<div class="clear"></div>
								</div>
								
								<div class="jan-bottom-grid">
									
									<div class="jan-bottom-grid-left1">
										<p>Implemented multiple interactive wordpress page templates utilizing Bootstrap 4 and CSS3 animation</p>
									</div>
									
									<div class="clear"></div>
								</div>
								<div class="jan-bottom-grid">
									
									<div class="jan-bottom-grid-left1">
										<p>Maintained company’s main site routinely and took responsible for new release deployment</p>

										<p>Code review for team members in agile environment and merged new features to current version</p>
									</div>
									
									<div class="clear"></div>
								</div>
								
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>
						<!--FlexSlider-->
								<link rel="stylesheet" href="{% static 'css/flexslider.css'%}" type="text/css" media="screen" />
								<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
								<script type="text/javascript">
								$(window).load(function(){
								  $('.flexslider').flexslider({
									animation: "slide",
									start: function(slider){
									  $('body').removeClass('loading');
									}
								  });
								});
							  </script>
						<!--End-slider-script-->
	</div>
	<p class="footer">Tel: 519-636-8709 | Email: <a href="https://www.google.com/gmail/">wenbo.ge.ca@gmail.com</a> | Github: <a href="https://github.com/Wenbo-Ge">https://github.com/Wenbo-Ge</a></p>
</div>

</body>
</html>
